/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

$white: rgb(255, 255, 255);
$dark-gray: #34303d;
$light-gray: #f6f4f0;
$red-shade: #db3624;

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
input,
button {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  line-height: 1.2;
  text-rendering: optimizeSpeed;
}

a {
  color: #534f5e;
  text-decoration: none;
}

p {
  font-size: 0.9rem;
  color: $dark-gray;
  line-height: 1.6em;
}

ul {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 90vw;
  height: 100%;
  margin: auto;
  overflow: hidden;

  @media only screen and (max-width: 850px) {
    max-width: 100vw;
  }
}

header {
  padding: 4rem 3rem;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 850px) {
    flex-direction: column;
    gap: 20px;
  }

  @media only screen and (max-width: 480px) {
    padding: 2rem 3rem;
  }

  nav.header-nav ul {
    display: flex;
    // align-items: center;

    li {
      padding: 0 0.3rem;
      text-align: center;

      span {
        margin-top: 0.9rem;
        display: block;
        font-size: 0.8rem;
      }

      img {
        width: 43px;
        height: 43px;
        margin: auto;
      }

      & a:hover {
        color: #f07f3c;
      }
    }

    li.burger-icon img {
      width: 22px;
      transition: transform 2s;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}

nav.secondary-nav ul {
  display: flex;
  padding: 1.5rem 2rem;

  li {
    padding: 0 0.8rem;
    font-weight: 500;
    font-size: 0.9rem;
  }

  @media only screen and (max-width: 480px) {
    display: none;
  }
}

section.hero {
  padding: 5rem 8rem;
  background-color: $red-shade;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 850px) {
    padding: 3rem;
  }

  @media only screen and (max-width: 480px) {
    padding: 3rem 2rem;
  }

  .hero-text {
    position: relative;
    color: #fff;

    h3 {
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 2rem;

      span {
        color: $dark-gray;
      }

      @media only screen and (max-width: 850px) {
        font-size: 2.5rem;
      }

      @media only screen and (max-width: 480px) {
        font-size: 1.6rem;
      }
    }

    a.hero-btn {
      color: $dark-gray;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    @media only screen and (max-width: 480px) {
      top: -25px;
      width: 80%;
    }
  }

  .hero-img {
    display: block;
    position: relative;

    img.prize-tag {
      position: absolute;
      width: 70%;
      bottom: 20%;
      left: -30%;
      transition: transform 4s;

      &:hover {
        transform: rotate(360deg);
      }

      @media only screen and (max-width: 850px) {
        width: 30%;
        left: -18%;
        bottom: 25%;
      }

      @media only screen and (max-width: 480px) {
        left: -55px;
        width: 40%;
        bottom: -25px;
      }
    }

    @media only screen and (max-width: 480px) {
      img.cleaning-stick-img {
        position: relative;
        width: 90%;
        left: 25%;
        bottom: -25px;
      }
    }
  }
}

section.sticks-info {
  background-color: $white;
  text-align: center;
  padding: 4rem;

  @media only screen and (max-width: 480px) {
    padding: 3rem;
  }

  h3 {
    color: $dark-gray;
    margin-bottom: 1.2rem;
    font-weight: bold;
    font-size: 2rem;

    @media only screen and (max-width: 480px) {
      font-size: 1.5rem;
    }
  }
}

section.get-more {
  padding: 8rem;
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media only screen and (max-width: 850px) {
    flex-direction: column;
    padding: 4rem;
  }

  div {
    max-width: 400px;
  }

  article {
    max-width: 40%;

    @media only screen and (max-width: 850px) {
      max-width: 100%;
      order: 2;
    }

    h3 {
      color: $dark-gray;
      font-size: 2rem;
      margin-bottom: 1.2rem;
      font-weight: bold;
    }

    p {
      margin-bottom: 4rem;
    }

    a.btn {
      color: $white;
      background-color: $dark-gray;
      padding: 1.2rem 1.8rem;
      border-radius: 30px;
      font-size: 0.9rem;

      &:hover {
        background-color: $white;
        color: $dark-gray;
        font-weight: 500;
      }
    }
  }
}

section.find-out-more {
  background-color: $white;
  padding: 6rem 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media only screen and (max-width: 850px) {
    grid-template-columns: 1fr;

    article {
      max-width: 70%;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 480px) {
    padding: 2.5rem 2rem;

    article {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  article:not(.video-icon) {
    text-align: center;

    h3 {
      font-size: 1.5rem;
      margin: 1.5rem 0;
      font-weight: bold;
    }

    p {
      margin: 1.5rem 0;
    }

    a {
      font-weight: bold;
      color: $dark-gray;
    }

    @media only screen and (max-width: 850px) {
      padding-bottom: 1rem;
    }
  }

  article.video-icon {
    color: $white;
    background-color: $red-shade;
    padding: 4rem 3rem 1.5rem;

    @media only screen and (max-width: 850px) {
      padding: 4rem 2rem 2rem;
      grid-column: 1;
      grid-row: 1;
    }

    h3 {
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
    }

    img.video-thumbnail {
      position: relative;
      margin-top: -100px;
    }

    img.icon-text {
      position: relative;
      top: 5%;
      z-index: 2;
      margin: 0 auto;
    }

    img.thumbnail-play-icon {
      position: relative;
      top: 10%;
      margin: 0 auto;
      z-index: 2;
    }
  }
}

section.how-to-clean {
  background-color: $light-gray;
  padding: 8rem;
  text-align: center;

  @media only screen and (max-width: 850px) {
    padding: 6rem 4rem;
  }

  @media only screen and (max-width: 480px) {
    padding: 2.5rem 2rem;
  }

  img.video-play-icon {
    position: relative;
    margin: 0 auto;
    top: 9rem;
    left: 0;
    width: 70px;
  }

  article {
    margin: 3rem 0;
    color: $dark-gray;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }

    h4 {
      font-size: 3.6rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }

    em {
      font-size: 12px;
    }
  }
}

section.level-up {
  background-color: $dark-gray;
  padding: 5rem 10rem;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media only screen and (max-width: 850px) {
    padding: 3rem 7rem;
    gap: 20px;
  }

  span {
    color: #ffbe33;
  }

  h4 {
    font-weight: bold;
  }

  p {
    font-size: 1.6rem;
    font-weight: bold;
    color: $white;
    margin: 1.3rem 0;
  }

  @media only screen and (max-width: 480px) {
    padding: 3rem;

    p {
      font-size: 1rem;
    }
  }
}

section.iqos-icons {
  background-color: $red-shade;
  padding: 5rem 10rem;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media only screen and (max-width: 850px) {
    padding: 3rem 7rem;
    gap: 20px;
  }

  h4 {
    font-weight: bold;
  }

  p {
    font-size: 1.6rem;
    font-weight: bold;
    color: $white;
    margin: 1.3rem 0;
  }

  @media only screen and (max-width: 480px) {
    padding: 3rem;

    p {
      font-size: 1rem;
    }
  }
}

section.contact {
  padding: 6rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: 850px) {
    flex-direction: column;
    gap: 20px;

    p {
      display: none;
    }

    h4 {
      text-decoration: underline;
    }
  }

  article > a {
    text-align: center;

    img {
      margin: 0 auto;
    }

    h4 {
      margin: 1rem 0;
      color: $dark-gray;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      text-align: center;
      font-weight: 400;
      text-decoration: underline;

      @media only screen and (max-width: 480px) {
      }
    }
  }
}

section.back-to-top {
  background-color: $white;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 480px) {
    padding: 2rem;
  }

  img {
    margin: 0 auto;
    text-align: center;
  }

  a > p {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
  }
}

section.disclaimer {
  background-color: #303133;
  padding: 6rem;
  text-align: center;

  @media only screen and (max-width: 850px) {
    padding: 3rem;
  }
 
  @media only screen and (max-width: 480px) {
    padding: 2rem;
  }

  em {
    font-size: 12px;
    color: $white;
    font-style: italic;
  }
}

footer .container {
  background-color: #1b1b1b;
  color: $white;

  section.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 6rem;
    // padding-bottom: 3rem;
    border-bottom: 1px solid #555;

    @media only screen and (max-width: 850px) {
      flex-direction: column;
      text-align: center;
      border: none;

      img {
        display: none;
      }
    }

    article h4 {
      margin-bottom: 0.7rem;
    }

    article p {
      color: $white;
      padding: 0.3rem 0;
      font-size: 0.8rem;
    }
  }

  section.footer-navs {
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    @media only screen and (max-width: 850px) {
      padding: 3rem;
      .section-a {
        display: none !important;
      }

      .section-b {
        flex-direction: column;
        margin: 0 auto;
      }
    }

    .section-a,
    .section-b {
      display: flex;
      gap: 30px;

      a,
      p {
        color: $white;
      }

      li {
        padding-bottom: 0.7rem;
        font-size: 14px;

        a {
          font-size: 12px;
          font-weight: 400;
        }
      }

      div {
        padding-right: 1rem;
      }
    }

    .section-a {
      h4 {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 2rem;
      }
    }

    .section-b {
      text-align: center;

      img {
        margin: 0 auto;
        padding-bottom: 1rem;

        &.pml-logo-footer {
          width: 80px;
        }
      }

      p {
        font-size: 12px;
      }
    }
  }
}
